#about{
    background:url('../../assets/pictures/about.jpg') no-repeat center center;
    background-size: cover;
    height: 580px;
    margin: 15px auto;
    position: relative;
    blockquote{

    position: absolute;
    right: 20px;
    width: 400px;
    bottom: 190px;
    p{
        
        font-style: italic;
        font-size: 22px;
    }
    footer{
        text-align: right;
    }
    }

}