<div id="cartPanel">
  <h1 (click)="easter=true">Mon Panier</h1>
  <h2>Récapitulatif</h2>
  <div class="recap">


    <table class="table table-striped" *ngIf="booksInCart?.length">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Titre</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
          <th scope="col">Sous total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of booksInCart; index as i">
          <td>
            <img [src]="book.cover" />
          </td>
          <td>
            {{ book.title }}
          </td>
          <td>{{ book.price | number |currency}}</td>
          <td>{{ book.nb | number }}</td>
          <td>{{ book.price * book.nb | number  |currency}}</td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
            <td colspan="2"></td>
          <td  colspan="2">sous-total</td>
          <td>
            {{ price | number |currency }}
          </td>
        </tr>
        <tr>
            <td ></td>
            <td colspan="3"> Bénéficiez de notre Promotion !<br>{{promoMessage}}</td>
            <td >{{promo?.finalPrice - price |number|currency}}</td>
        </tr>

        <tr>
            <td colspan="2"></td>
            <td  colspan="2">Prix final</td>
            <td>
              {{ promo?.finalPrice | number  |currency}}
            </td>
          </tr>
      </tfoot>
    </table>
  </div>
  
 <div class="empty" *ngIf="!booksInCart?.length">
   Aucun article dans le panier.
   <img src="../../assets/pictures/vv.gif" class="easter" *ngIf="easter">
 </div>
<div id="cartActions">
    <div class="cancel">
        
    <button *ngIf="booksInCart?.length" class="btn btn-danger" (click)="clearCart()">Vider le Panier</button>
    </div>
    <div class="pay">
      <button *ngIf="booksInCart?.length" class="btn btn-success" routerLink="./"  fragment="cartActions" (click)="openPayModal()">Payer</button>
        <button class="btn btn-secondary" routerLink="main" fragment="mainMenu"> Continuer mes achats</button>
 
    </div>
</div>
</div>
