#banner{
    height: 230px;

    text-shadow: 0 0 15px black;
    

    background: url('../assets/pictures/banner3.png') no-repeat;


    background-size: cover;

    background-position-y: -10px;
    background-position: center;
    font-family: hpfont;

    text-align: center;
    font-size: 10rem;
    color: darkred;

}
.routerActive{
    color:olive !important;
}

#page{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#mainMenu{

    position: sticky;
    top: 0;
 
    font-size: 2rem;
    background-color: lightgrey;
    font-family: crete;
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    a,a:visited{
        color: inherit;
        text-decoration:inherit;
    }
    .badge{

    background-color: #374a5d;
    border-radius: 18px;
    font-family: auto;
    }
}

//phone
@media (max-width: 575.98px) { 

#mainMenu{

    ul{
        flex-direction: column;
        li{
            text-align: center;
        }
    }
};

}