<div id="items">
  <h1>A la une</h1>
  <div class="searchBar">
    <input
      [(ngModel)]="searchTxt"
      type="text"
      class="form-control"
      placeholder="Rechercher un titre de livre..."
      (ngModelChange)="typesearch$.next($event)"
    />
    <div *ngIf="searchTxt" id="reset" class="clickable" (click)="clearSearch()">
      &otimes;
    </div>

    <div *ngIf="searchTxt" class="searchMessage">
      Résultats pour la recherche "<span>{{ searchTxt }}</span>"
    </div>
  </div>

  <ul id="bookList">
    <li
      class="bookpres"
      [ngClass]="{ firstime: navId == 1 && anim }"
      *ngFor="let book of booksdisplay; index as i"
      style="--i:{{ i + 1 }}"
    >
      <img
        class="clickable"
        src="{{ book.cover }}"
        alt="{{ book.title }} cover"
        (click)="openModal(book)"
      />

      <div class="bookText">
        <div class="clickable" (click)="openModal(book)">
          <h2>{{ book.title }}</h2>
          <p>{{ book.synopsis.toString() | slice: 0:270 }}...</p>
        </div>
        <div class="descFoot">
          <p>{{ book.price | currency }}</p>
          <button class="btn" (click)="addToCart(book)">
            Ajouter au panier
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>

<aside id="miniCart">
  <app-small-cart [booksInCart]="booksInCart"></app-small-cart>
</aside>
