#items {
  margin: 40px auto;
  input {
    float: left;
  }
  h1 {
    text-align: center;
    color:white;
    text-shadow: 0 0 4px white;
  }
  div#reset {
    font-size: 2.3em;
    margin-top: -7px;
    margin-left: -41px;
    color: darkred;
    padding: 0;
    border: none;
    background: white;
    height: 0px;
    display: inline-block;
  }
  .searchBar {
    width: 50%;
    margin: auto;
    margin-top: 55px;
  }

  .searchMessage {
    color:white;
    font-size: 1.4rem;
    color: #f7ca44;
    margin-top: 20px;
    em {
      font-weight: bold;
    }
  }
}




ul#bookList {
  list-style-type: none;
  padding: 10px 30px;
  clear: both;

  li.bookpres {
    height: fit-content;
    margin: 60px 40px;
    text-align: justify;
    box-shadow: 0px 0px 12px 7px white;
    display: flex;
    background: #9a9a3df2;

    &.firstime:nth-child(odd) .introAnim{
    animation:  magic1 3.5s ;
    }
    &.firstime:nth-child(even) .introAnim {
      
    animation: magic2 4s ;
    }
    &:first-child{
      margin-top:30px;
    }

    div.bookText { 
      .clickable:hover{text-shadow: 0 0 15px white;}
      h2{
        font-family: serif;
      }
      padding: 20px;
      padding-bottom: 0px;

      .descFoot {
        display: flex;

        justify-content: space-around;
        p {
          font-size: 1.7rem;
        }
        .btn {
          display: block;
          height: 2.5rem;
          margin-left: 9rem;
          background-color: darkblue;
          color: white;
      
        }
      }
    }

    img {
      
    height: inherit;
    max-height: 248px;
    margin: auto;
      &:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both ; 
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
  }
}

#miniCart {
  transition: ease-in-out 0.7s;

  &.hidden{
    right:-220px
  }
  position: fixed;
  right: 0;
  padding: 5px;
  border-radius: 0 0 0 20px;
  top: 300px;

  width: 220px;
  text-align: center;
  background-color: darkred;

  .toggleCart{

    width: 50px;
    height: 50px;
    position: fixed;
    top: 300px;
    background-color: darkred;
    border-radius: 5px;
    margin-left: -50px;
    font-size: 32px;
  }
}




@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes magic1 {
  0% {
    transform: translate(calc(var(--i) * -200px),calc(var(--i) * -200px)) rotateZ(calc(var(--i) * 100deg));
  }
  100% {
    transform: translate(0,0) rotateZ(0deg);
  }
}


@keyframes magic2 {
  0% {
    transform: translate(calc(var(--i) * 200px),800px) rotateZ(-100deg);
  }
  100% {
    transform: translate(0,0) rotateZ(0deg);
  }
}