/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "hpfont";
  src: url("./assets/fonts/HARRYP__.TTF");
}
@font-face {
  font-family: "merryw";
  src: url("./assets/fonts/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "crete";
  src: url("./assets/fonts/CreteRound-Regular.ttf");
}

.clickable {
  cursor: pointer;
}

p {
  text-indent: 2em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background: url("./assets/pictures/stars.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;

  font-family: merryw;
}
